/* header */
#header-img{
	margin-top:110px;
	width:100%;
}
.bg-graffiti{
	background:url('../images/bg-header.jpg') top no-repeat !important;
	background-attachment: fixed;
	background-size: cover;
}
.bg-graffiti .row{
	padding-bottom: 25px;
}
.header-description{
	margin-top:60px;
	position: absolute;
}
.header-description img{
	width:100%;
}
.infos-bg{
	width:100%;
	background: url('../images/bg-destaques.jpg') no-repeat;
	background-size: cover;
}
#slider .section-title{
	color:#FFF;
	font-weight: bold;
}
#slider .slick-slide{
	height:290px;
	overflow: hidden;
}
nav#header-nav{
	background: #639b9e;
	padding-top:10px;
	padding-bottom:10px;
	clear: both;
	box-shadow: 0px 2px 21px 2px rgba(50, 50, 50, 1);
}
nav#header-nav a{
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 700 !important;
	color:#FFF !important;
	font-size:1.3em !important;
	text-transform: uppercase;
	background:transparent !important;
}
nav#header-nav a:hover{
	text-decoration: underline;
}
nav#header-nav .row{
	padding:0;
}

html body{

	font-family: 'Allan', sans-serif;	
	font-weight:lighter;
	color:#333333;
	background:url('../images/footer-fundo.png');
	background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.1);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	background-attachment:fixed;
/*	background-color:#000;*/
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
a, a:visited, a:hover{
	color:#333333;
	text-decoration:none;
}
#main{
	padding:0 0;
}
.interno{
	width:100%;
	max-width:1800px;
	margin:0 auto;
}
.interno-page{
	margin:0 5%;
	max-width: 1800px;
	
}
#logo{
	width:35%;
	text-align:center;
	display:inline-block;
	padding: 40px 0 20px;
	
}
#main-navigation{
	display:inline-block;
	width:59%;
	border:none;
	vertical-align: top;
	margin-top: 30px;
	background: transparent;
	float:right;
	
}

#main-navigation ul{
	float:right;
	font-size:22px;
	font-weight:normal;
}
.navbar-main-navigation{
	padding-right: 0;
	margin-right: -10px;
}
.navbar-default .navbar-nav>li>a{
	color:rgba(147, 14, 41, 0.74);
	font-size:0.9em;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
color: rgba(51, 51, 51, 0.52);	
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color: rgba(51, 51, 51, 0.52);
	background:transparent;
	
}
#logo img{
	display:block;
	width:100%;
	margin:0 auto;
	position:relative;
}
#logo{
	margin-left:5%;
}
#main-navigation
{
	margin-right:5%;
}


.video_thumb{
	width:100%;
}
#fotos_port, #video_port{
	display:inline-block;
}
ul li{
	list-style:none;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	margin:0;
}
.row{
	padding: 7vh 0;
	margin:0;
}
#social{
	float:right;
}
.socials:hover{
	fill:rgba(51, 51, 51, 0.52);;
}
.socials{
	width:37px;
	height:auto;
	fill: rgba(14, 119, 147, 0.7);
}
#facebook{
}
ul{
	margin: 0;
	padding: 0;
}
#portfolio{
/*	box-shadow: 0 1px 5px #000;*/
	min-height:100vh;
	background:url('../images/portfolio-fundo.png');
	background-color:#FFF;
	background-attachment:fixed;
	padding:11vh 0 4vh;
}
#portfolio .botao{
	background: url('../images/asfalt-dark.png');
	padding: 10px;
	background-color: rgba(51, 51, 51, 0.68);
	border-radius: 11px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
	border:1px solid transparent;
	

}
#portfolio .botao:hover{
	background-color: rgba(244, 244, 244, 0.68);
	border:1px solid #333333;
	
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
	
}
#portfolio .botao a{
	color:rgba(244, 244, 244,1 );
	font-size: 0.9em;
	font-weight: lighter;
	
}
#portfolio .botao:hover a{
	color: #333333;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}
h2{
	text-align:left;
	display:inline-block;
	margin: 40px 6% 50px 5.2%;
}
.interno h1{
	color: #333333;
	font-weight: 300;
	border-bottom: 2px solid #333333;
	margin: 0 6% 68px 5.2%;
	text-align: right;
	text-transform: uppercase;
	padding-bottom: 15px;
}
.capa{
	height:700px;
	position:relative;
	display:inline-block;
	webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	transition: width 2s;
	
}
#capa-1, #capa-2{
	margin-left:-0.5%;
}
.capa img{
	margin-top: -50px;
	/*	opacity:0.6;*/
	transition: opacity .35s ease-in-out;
	-moz-transition: opacity .35s ease-in-out;
	-webkit-transition: opacity .35s ease-in-out;
	max-width:initial;
	border-radius:10px;
}

.port-item:hover{
/*	display:inline-block;*/
/*	position:relative;*/
/*	width:500px;*/
}
.capa{
	width:30%;
	overflow:hidden;
	-webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	/*    transition: z-index 0.5s;*/
}
.capa img{
}

#capa-0{
	z-index:3;
	margin-left:5%;
}
#capa-1 {
	z-index:9;
}

#capa-2{
	z-index:11;
	margin-right:5%;
}
#capa-0:hover{
}
#capa-1.capa-1-fix{
}
#capa-1:hover{
}

#capa-2:hover{
}
.titulo-servico{
	transform-origin: bottom left;
  	-webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
	position: relative;
	top: 5vh;
	font-size:30px;
	padding:5px 50px;
	display:inline-block;
	color:#E0E0E0;
	/* Fallback for web browsers that don't support RGBa */
	background-color: maroon;
	/* Fallback for web browsers that don't support RGBa */
	    background-color: rgb(128, 0, 0);
	    /* RGBa with 0.6 opacity */
	    background-color: rgba(128, 0, 0, 0.6);
	    /* For IE 5.5 - 7*/
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	    /* For IE 8*/
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	}
	    

.vertical{
	-ms-transform: rotatez(90deg); /* IE 9 */
    -webkit-transform: rotatez(90deg); /* Chrome, Safari, Opera */
    transform: rotatez(90deg);
	left:0;
}
#video_port{
	margin-left:5%;
	width:60%;
}
#fotos_port{
	width:29%;
	margin-right:5.7%;
	vertical-align:top;
	float:right;
	
}
#fotos_port li:hover .titulo-port{
	opacity:1;
	-webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -ms-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: all 0.5s ease;	
}
#fotos_port li:hover .foto_port {
	background:#000000;
}
#fotos_port li:hover img{
	opacity:0.5;
	background:#000;
	-webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -ms-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: all 0.5s ease;
}


#fotos_port img{
	border-radius:5px;
}
#fotos_port li:nth-child(2) img{
	margin-top:4px;
}
.titulo-port,.resumo-port{
	position:absolute;
	opacity:0;
	display:inline-block;
	width: 21vw;
	right: 10%;
	margin-top: 13vh;
	-webkit-transition: all 3s ease;
	  -moz-transition: all 3s ease;
	  -ms-transition: all 3s ease;
	  -o-transition: all 3s ease;
	  transition: all 3s ease;
}
.fundo-portfolio{
	background-size:cover;
}
.fundo-cor-portfolio{
	background-color: rgba(255, 255, 255, 0.46);
	padding: 20px 0 60px;
	
	
}
.conteudo-port-single{
	margin:0 5.2% 30px;
}
.conteudo-port-single p {
margin: 0 0 50px;
}
.conteudo-port-single img {
/*	width:100%;*/
}

#logo{
	max-width:300px;
}
#parceiros{
	padding:0 5%;
}
#parceiros img{
	margin-right: 30px;
}
#destaques{
	
}


#footer{
	margin-top:0;
	background:#fff;
/*	background:url('../images/footer-fundo.png');*/
/*	background-color:maroon;*/
/*	border-top: 5px solid #333333;*/
	
}
#portfolio img.header-image,#portfolio img.wp-post-image {
	max-width: 99.5%;
	height: auto;
}
#contatos{
	margin:20px 0;
}

#footer h2{
	display: block;
	padding: 0;
	margin: 20px 1%;
	border-bottom: 1px solid #333333;
	color:#333333;	
	font-weight:lighter;
}


/*página de Serviços*/
#servicos-rolo{
	margin: 35px 0;
	color:#fff;
	background:rgba(0, 0, 0, 0.38);
	
}
.descr_portfolio_int h2{
	position:absolute;
	
}
#servicos-rolo h2{
	margin: 20px 0;
	width: 100%;
	border-bottom: 1px solid;
	padding-bottom: 18px;
	text-align: left;

}

#servicos-rolo article{
	vertical-align:top;
	margin: 20px 5%;
	width: 31.4%;
	display:inline-block;
	background-size: contain;
}

#servicos-imagens article{
	display:inline-block;
	opacity:0.3;
	background-size:cover;
}
#servicos-imagens article img{
	width:100%;

}
#servicos-imagens{
	position:absolute;
	z-index:-9;
	bottom: 105px;
}

.mascara{}

#servicos-rolo article:first-child{
	margin-left:2.5%;
	margin-right:0;
	padding-right:2.5%;
	padding-left:2.5%;}

#servicos-rolo article:nth-child(2){
	margin:20px 0;
	padding-right:2.5%;
	padding-left:2.5%;
}
#servicos-rolo article:nth-child(3){
	margin-left:0;
	margin-right:2.5%;
	
	padding-right:2.5%;
	padding-left:2.5%;	
}
#servicos-rolo a p{
	color: #000;
	font-weight: normal;
	font-size: 1.1em;
}
	

#servicos-nav ul{
	margin-top:20px;
	display:block;
	text-align:center;
}
#servicos-nav li{
	font-size:20px;
	display:inline-block;
}
#servicos-nav li a {
	color:transparent;
	background:url('../images/sprit.png');
	background-repeat:no-repeat;
	width: 15px;
	height: 25px;
	display:block;
	background-position:10px;
	background-position: 0px -25px;
	margin:0 10px;
}
#servicos-nav li.active	 a{
	background-position: -15px -25px;
	
}
#servicos-nav #prox a{
	background-position: 0 0;
}
#servicos-nav #ante a{
	background-position: -15px 0;
}
#servicos-arquivo{
	margin-top:40px;
}
.cada-servico{
	margin-bottom:50px;
	position:relative;
	background: rgba(145, 0, 0, 0.13);
	
}
.thumb-servico{
	min-height: 325px;

	float:right;
	position:relative;
	width:60%;
	background-size:cover;
	background-repeat: no-repeat;

}
.thumb-servico img{
}
.thumb-servico h2{
	margin-top:60px;
}
.thumb-servico h2 a {
	background: #ffffff;
	color: rgba(255, 255, 255, 1);
	background: rgba(145, 0, 0, 0.7);
	padding: 10px;
	
}
.descricao-servico{
	width:40%;
	padding: 40px 35px;

	
}
.descricao-servico p{
	font-size:18px;
}
.mais-servico{
	float: right;
	margin-right: 30px;
}
.page-template-page-servicos-php, .post-type-archive-portfolio{
	background: url('../images/portfolio-fundo.png');
}
.portfolio:hover .descr_portfolio, .portfolio:hover h2{
	opacity:1;
	transition: all 0.7s ease;
	
	
}
.portfolio:hover .descr_portfolio{
	transition: all 1s ease;
	font-size: 17px;
	padding:0 5%;
	padding: 7% 10%;
	
}
 .portfolio:hover h2{
	bottom:2vw;
	left: 2vw;
	transition: all 1s ease;
	
}
.portfolio{
	position:relative;
}
.portfolio img{
	
	opacity:1;
	transition: all 0.7s ease;
	
}
 .portfolio h2{
	z-index: 99;
	transition: all 1s ease;
	bottom:0;
	margin:0;
	
}
.portfolio:hover img{
	opacity:0.2;
	bottom:20px;
	transition: all 0.7s ease;
}
.descr_portfolio, .portfolio h2{
	transition: all 0.7s ease;
	position:absolute;
	opacity:0;
	left: 0;
	z-index: 99;
	
	
}
.next-post-reveal-nav, .prev-post-reveal-nav{
	display:none;	
}


h2.site-title {
	margin: 2% 3%;
	text-align: left;
	display: inline-block;
	font-weight: bold;
	font-size: 3em;
}

.destaque-home h3 {
	font-weight: bold;
	font-size: 2.5em;
}

.destaque-home {

	padding: 1.5%;
	width: 32%;
	float: left;
}

.polos {

	background: #D39C2F none repeat scroll 0% 0%;
	margin: 0px 2% 0px 0px;	
}
.destaque-home h3{
	color:#FFF;
}
.destaque-home .btn{
	background:#639B9E;
	border:0;
	font-weight: bold;
	font-size: 1.3em;
	color:#FFF !important;
}
.rede-paulista {
	background: #72BB53 none repeat scroll 0% 0%; 
	margin: 0;
}
.copa-america {
	background: #EBD100 none repeat scroll 0% 0%; 
	margin: 0px 0px 0px 2%;
}

#noticias-home {
  width: 100%;
  clear: both;
}

#noticias-home .section-title {
	font-size: 3em;
	margin-top: 30px;
}

.noticias-container{
	width:33.3333%;
	display: block;
	float:left;
}
.noticias-container .all{
	padding:5px;
	padding-left:0;
	display: block;
}
.noticias-container .img-container{
	background:#fefac5;
	width:100%;
	height:180px;
	overflow: hidden;
	color
}
.noticias-container .img-container img{
	width:100%;
	min-height:180px;
}
.noticias-container .data{
	background:#262f21;
	position: absolute;
	color:white !important;
	padding:10px 15px;
	padding-left:15px;
	padding-right:15px;
	margin-top:-73px;
	opacity: 0.90;
}
.noticias-container .data *{
	font-family: 'Allan',sans-serif;
	color:white;
	clear:both;
	margin:0;
}
.noticias-container .data .day{
	font-weight: 600;
	font-size: 1.6em;
	line-height: 1.1;
}
.noticias-container .data .mes{
	font-size: 1em;
}
.noticias-container .noticias-content{
	background:#fefac5;
	padding:20px;
	height:220px;
	overflow: hidden;
	position: relative;
}
.noticias-container .noticias-content .fade {
	background: url( 'images/fade-noticias-home.png' ) left bottom repeat-x transparent;
	height: 100%;
	position: absolute;
	width: 100%;
}
.noticias-container .noticias-content *{
	font-family: 'Source Sans Pro',sans-serif;
	color:#262f21;
}
.noticias-container .noticias-content .post-title{
	font-size:1.5em;
	color: #1D5629;
	text-transform: uppercase;
}
.noticias-container .permalink{
	height: 40px;
	padding: 0;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	width: 40px;
	text-decoration: none;
	background: url( 'images/mais.png' ) center center no-repeat #262f21;
	margin-top:157px;
	margin-left:28%;
	z-index: 1;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}
.noticias-container .permalink:hover {
   -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg); 
    -o-transform:rotate(180deg);
}
.white-popup {
	background: none repeat scroll 0 0 #E5833D;
    margin: 20px auto;
    max-width: 560px;
    padding: 30px;
    position: relative;
    width: auto;	
}

.entry-header {
	width: 100%;
	margin: 20px 0;
}

.entry-header-noticias {
    float: left;
    margin: 5px 0 20px 0;
    width: 100%;
}

.entry-header-noticias h1 {
	margin: 18px 0 15px 0;
}

.large-thumb {
	max-height: 300px;
	display: block;
	overflow: hidden;
	clear: both;
}

.entry-header-page {
    margin: 5px 0 20px 0;
    width: 100%;
	overflow: hidden;
}

.entry-header-category {
    margin: 5px 0 20px 3em;
    width: 100%;
	overflow: hidden;
}

.entry-header-page-404 {
    margin: 25px 0 20px 0;
    width: 100%;
	overflow: hidden;
}

.entry-header-page-search {
    margin: 25px 0 20px 30px;
    width: 100%;
	overflow: hidden;
}

